<mat-toolbar color="primary">

  <span>
    YeniMekan
  </span>
  <span class="example-spacer"></span>
  <button *ngIf="! isLoggedIn()" mat-raised-button routerLink="/login">Giriş Yap</button>
  <button *ngIf="isLoggedIn()" mat-raised-button color="accent" (click)="logout()">Çıkış Yap</button>
</mat-toolbar>

<mat-toolbar color="accent" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Anasayfa</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewProduct">Yeni Ürün Ekle</button>
</mat-toolbar>