<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Kullanıcı Adı</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Kullanıcı Adı">
                <mat-hint>Kullanıcı Adı</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Şifre</mat-label>
                <input type="password" matInput ngModel name="userPassword" id="userPassword" placeholder="Şifre">
                <mat-hint>Şifre</mat-hint>
            </mat-form-field>
            <button class="w-100" type="submit" mat-raised-button color="primary">Giriş Yap</button>


        </form>
    </div>
</div>